.card {
    display: flex;
    align-items: center;
    height: 120px;
    background-color: #ffffff;
    border: 1px solid #dddede;
    border-bottom: none;
}

.card__section {
    flex: 0 0 20%;
    max-width: 20%;
    height: 100%;
    padding: 15px 20px;
}

.card__section_name {
    display: none;
}

.card__section_license {
    display: none;
}

.card__section-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card__section-content-inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__section-content-inner-logo {
    width: 110px;
    height: 40px;
    align-self: center;
}

.card__section-content-inner-text {
    font-size: 12px;
    line-height: 1.8;
}

.card__section-content-inner-text_rateFrom {
    color: #3c3e44;
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
}

.card__section-content-inner-text_name {
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin-top: 3px;
}

.card__section-content-inner_amount {
    flex-direction: row;
}

.card__section-content-inner-text_amount {
    white-space: nowrap;
    color: #3c3e44;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.card__section-content-inner-text_term {
    font-size: 12px;
    font-weight: 400;
}

.card__section-content-inner-text_license {
    line-height: 18px;
    opacity: 0.5;
    color: #8c8c8c;
    text-align: center;
}

.card__section-content-inner_btn {
    margin-top: 10px;
}

 .card__section-content-inner-text_inscription {
     display: none;
 }

@media (max-width: 991px) { 
    .card {
        flex-wrap: wrap;
        height: auto;
        border-radius: 4px;
        border-bottom: 1px solid #dddede;
        padding: 25px 20px;
    }

    .card__section {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0;
    }

    .card__section_name {
        display: block;
        flex: 0 0 50%;
        max-width: 50%;
        height: 100%;
        padding: 0;
    }
    
    .card__section-content-inner-logo {
        width: 90px;
        height: 15px;
    }

    .card__section_license {
        display: block;
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .card__section_license-inner {
        font-size: 8px;
        line-height: 18px;
        opacity: .5;
        color: #8c8c8c;
        text-align: center;
        white-space: nowrap;
    }

    .card__section_license-line {
        margin-right: 5px;
        width: 100%;
        border-bottom: 1px solid #dddede;
    }

    .card__section-content-inner-text-wrapper_name {
        display: none;
    }

    .card__section-content-inner_conditions {
        display: none;
    }

    .card__section-content-inner-logo {
        align-self: flex-start;
    }

    .card__section-content-inner-text_license {
        display: none;
    }

    .card__section-content-inner-text_inscription {
        display: block;
    }

    .card__section-content-inner-text_term {
        display: none;
    }

    .card__section-content-inner-text_rateFrom {
        font-size: 18px;
        font-weight: 700;
    }
    
    
    .card__section-content-inner-text_amount {
        display: none;
    }

    .card__section-content-inner-text_amount-mobile {
        white-space: nowrap;
        color: #3c3e44;
        font-weight: 700;
        line-height: 20px;
        font-size: 16px;
    }
}
