.main {
    background-color: #ebf0f3;
}
  
.container {
    padding: 20px 30px 40px 30px;
}

.header {
    background-color: #ffffff;
    padding: 40px 30px;
    border-bottom: 1px solid #dddede;
}

.header__title {
    font-size: 20px;
    text-align: center;
    color: #3c3e44;
}

.logo-container {
    position: relative;
    padding-bottom: 36%;
    height: 0;
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo-stub {
    width: 110px;
    height: 40px;
    background-color: gray;
}

.btn-confirm {
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border: 1px solid rgb(13, 209, 73);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    user-select: none;
    transition: background-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
    height: 34px;
    line-height: 32px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 209, 73);
    display: block;
    width: 100%;
}
